AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
USERS_TABLE=at-sv-users
TRANSACTIONS_TABLE=at-sv-transactions
TAX_DECLARATIONS_TABLE=at-sv-tax-declarations
CORS_ORIGINS=http://localhost:5173
